@layer components {
    .img-small {
        @apply w-[25px] h-[25px];
    }
    .img-medium {
        @apply w-[50px] h-[50px];
    }
    .img-large {
        @apply w-[150px] h-[150px];
    }
    .play-button {
        @apply transform transition;
    }
    .text-sub {
        color: var(--color-sub);
        font-size: var(--font-size-md);
    }
    .action-button {
        @apply inline-block w-[30px] h-[30px] p-[2px] rounded-full transition-transform;
    }
    .bg-main {
        background-color: var(--color-main);
    }
    .bg-accent {
        background-color: var(--color-accent);
    }
    .bg-active {
        background-color: var(--color-active);
    }

    .text-sm {
        font-size: var(--font-size-sm);
    }
    .text-md {
        font-size: var(--font-size-md);
    }
    .text-lg {
        font-size: var(--font-size-lg);
    }
    .bg-sub {
        background-color: var(--color-sub);
    }

    @media (hover: hover) and (pointer: fine) {
        .play-button {
            @apply hover:scale-110;
        }
        .action-button {
            @apply hover:scale-110;
        }
    }
}
