@import 'tailwindcss';
@layer base-utilities;
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    line-height: 1.2;
    font-family: 'Noto Sans', sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    &::-webkit-scrollbar {
        display: none;
    }
}
input,
button,
select {
    appearance: none;
}
input[type='range']::-webkit-slider-thumb {
    width: 8px;
    height: 8px;
    border-radius: 8px;
    background: white;
    margin-top: -3px;
    cursor: pointer;
}

body {
    line-height: 1;
    background-color: black;
    color: white;
}
@layer base {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
    }
    img {
        @apply cursor-pointer;
        @apply inline-block;
        @apply object-contain;
    }
    li {
        @apply list-none;
    }
    input {
        @apply outline-none;
    }
    table {
        @apply w-full;
    }
}
@layer utilities {
    .img-large {
        width: 150px;
        height: 150px;
    }
    .img-medium {
        width: 50px;
        height: 50px;
    }
    .img-small {
        width: 25px;
        height: 25px;
    }

    .song-wrap {
        width: calc(100% - 60px);
        text-align: left;
        margin-left: 10px;
    }
    .action-button {
        display: inline-block;
        width: 25px;
        height: 25px;
        padding: 2px;
        background-color: white;
        border-radius: 20px;
        &:hover {
            transform: scale(1.05);
        }
        @media (max-width: 768px) {
            &:hover {
                transform: none;
            }
        }
    }

    .text-ellipsis {
        text-overflow: ellipsis;
        overflow-x: hidden;
        white-space: nowrap;
    }
}
@theme {
    --color-accent: #1ed760;
    --color-main: #0d0d0d;
    --color-white: #ffffff;
    --color-black: #000000;
    --color-sub: rgb(160, 160, 160);
    --color-active: rgba(255, 255, 255, 0.2);

    --borderRadius-main: 8px;
    --font-size-sm: 12px;
    --font-size-md: 16px;
    --font-size-lg: 20px;
    /* --font-size-xl;: 24px; */
}

.custom-slider {
    background: linear-gradient(to right, #ffe283 0%, #ffe283 50%, #ececec 50%, #ececec 100%);
    border-radius: 8px;
    outline: none;
    transition: background 450ms ease-in;
    -webkit-appearance: none;
    accent-color: #ffca1d;
}
